force-app/main/default/flows/Add_Citation_to_Conference_Proposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_First_Citation</name>
        <label>Get First Citation</label>
        <locationX>1180</locationX>
        <locationY>528</locationY>
        <actionName>GetFirst</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Single_Citation_Page</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputMember</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>colResultCitations</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recCitationToAdd</assignToReference>
            <name>outputMember</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Remove_Existing_Citations</name>
        <label>Remove Existing Citations</label>
        <locationX>972</locationX>
        <locationY>414</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Number_of_Results</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>Conference_Citation__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>colCitations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>colExistingConferenceCitations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Citation__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colResultCitations</assignToReference>
            <name>sourceUniqueRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Search_Citation_Keyword</name>
        <label>Search Citation Keyword</label>
        <locationX>853</locationX>
        <locationY>547</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Existing_Citations</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Id,Citation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Citation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queries</name>
            <value>
                <elementReference>colKeywordsToSearch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scope</name>
            <value>
                <stringValue>ALL FIELDS</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colCitations</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_choice_collections</name>
        <label>Add to choice collections</label>
        <locationX>969</locationX>
        <locationY>1041</locationY>
        <assignmentItems>
            <assignToReference>colCitationLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Result_Citations.Citation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colCitationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Result_Citations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_Citations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conference_Citation_populate</name>
        <label>Conference Citation</label>
        <locationX>1487</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>recConferenceCitation.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConferenceCitation.Citation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recCitationToAdd.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conference_Citation_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Existing_Citations</name>
        <label>Copy Existing Citations</label>
        <locationX>251</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>colExistingConferenceCitations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Conference_Citations_query</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCitationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Results</name>
        <label>Number of Results</label>
        <locationX>972</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>nNumResults</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colResultCitations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Results_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Result_Collection_ISBN</name>
        <label>Reassign Result Collection</label>
        <locationX>831</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>colCitations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Citation_by_ISBN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Existing_Citations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Criteria_Flag</name>
        <label>Set No Criteria Flag</label>
        <locationX>500</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>bNoSearchCriteriaError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCitationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Records_error</name>
        <label>Set No Records error</label>
        <locationX>601</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>bNoRecordsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bNoSearchCriteriaError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCitationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_Keywords</name>
        <label>Set up Keywords</label>
        <locationX>719</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>colKeywordsToSearch</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Citation_Keyword_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Citation_Keyword</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conference_Manager</name>
        <label>Conference Manager?</label>
        <locationX>188</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>ProfileErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LF Conference Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Conference_Citations_query</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Results_decision</name>
        <label>Number of Results</label>
        <locationX>964</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Result_Citations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&gt;1</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nNumResults</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Records_error</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nNumResults</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Citation</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Criteria_Entered</name>
        <label>Search Criteria Entered</label>
        <locationX>504</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Set_No_Criteria_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>ISBN_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISBN_input</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Citation_by_ISBN</targetReference>
            </connector>
            <label>ISBN</label>
        </rules>
        <rules>
            <name>Citation_Keyword_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Citation_Keyword_input</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_Keywords</targetReference>
            </connector>
            <label>Citation Keyword</label>
        </rules>
    </decisions>
    <interviewLabel>Add Citation to Conference/Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Citation to Conference/Proposal</label>
    <loops>
        <name>Result_Citations</name>
        <label>Result Citations</label>
        <locationX>973</locationX>
        <locationY>881</locationY>
        <collectionReference>colResultCitations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_choice_collections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Multi_Citation_Page</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Conference_Citation_create</name>
        <label>Conference Citation</label>
        <locationX>1629</locationX>
        <locationY>527</locationY>
        <inputReference>recConferenceCitation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Citation</name>
        <label>Citation</label>
        <locationX>1340</locationX>
        <locationY>801</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Single_Citation_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CitationChoice.value</elementReference>
            </value>
        </filters>
        <object>Citation__c</object>
        <outputReference>recCitationToAdd</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Citation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Citation_by_ISBN</name>
        <label>Citation by ISBN</label>
        <locationX>704</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reassign_Result_Collection_ISBN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ISBN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ISBN_input</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Citation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Conference_Citations_query</name>
        <label>Existing Conference Citations</label>
        <locationX>104</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Existing_Citations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Conference_Citation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Multi_Citation_Page</name>
        <label>Add MultiCitation Page</label>
        <locationX>1147</locationX>
        <locationY>800</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Citation</targetReference>
        </connector>
        <fields>
            <name>AddMultiCitationField</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select the citation you would like to add:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CitationChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>colCitationLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>colCitationIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>1000.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Single_Citation_Page</name>
        <label>Add Single Citation Page</label>
        <locationX>1339</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Conference_Citation_populate</targetReference>
        </connector>
        <fields>
            <name>AddSingleCitationField</name>
            <fieldText>&lt;p&gt;A single citation matched your search. Press Next to add this citation:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!recCitationToAdd.Citation__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AddCitationScreen</name>
        <label>AddCitationScreen</label>
        <locationX>389</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_Criteria_Entered</targetReference>
        </connector>
        <fields>
            <name>AddCitationInstructions</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter your citation search criteria:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddCitationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddCitationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ISBN_input</name>
                    <dataType>String</dataType>
                    <fieldText>ISBN</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Citation_Keyword_input</name>
                    <dataType>String</dataType>
                    <fieldText>Citation Keyword</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddCitationScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddCitationNoCriteriaError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter either an ISBN or Citation Keyword&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bNoSearchCriteriaError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddCriteriaNoRecordsFoundText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;There were no citations found that match your criteria&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bNoRecordsFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProfileErrorScreen</name>
        <label>ProfileErrorScreen</label>
        <locationX>50</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PrtofileErrorField</name>
            <fieldText>&lt;p&gt;This action must be performed by a LF Conference Manager&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>69</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Conference_Manager</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bNoRecordsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bNoSearchCriteriaError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colCitationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colCitationLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colCitations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Citation__c</objectType>
    </variables>
    <variables>
        <name>colConferenceCitationsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>colExistingCitations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Citation__c</objectType>
    </variables>
    <variables>
        <name>colExistingConferenceCitations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>colKeywordsToSearch</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colResultCitations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Citation__c</objectType>
    </variables>
    <variables>
        <name>colSelectedCitation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Citation__c</objectType>
    </variables>
    <variables>
        <name>nNumResults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recCitationToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Citation__c</objectType>
    </variables>
    <variables>
        <name>recConferenceCitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
