force-app/main/default/flows/Add_Suggested_Conferee_to_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_trailing</name>
        <label>Add trailing ;</label>
        <locationX>1197</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>tScreenListSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Next_Selection</name>
        <label>Get Next Selection</label>
        <locationX>1512</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>tListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fGetNextListItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_First_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Selection</name>
        <label>Get Selection</label>
        <locationX>975</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>tScreenListSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_to_which_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selection_Made</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Count</name>
        <label>List Count</label>
        <locationX>458</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>nNumberOfLists</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Suggestion_Lists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Id</name>
        <label>List Id</label>
        <locationX>692</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>tListId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_List.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suggested_Conferee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_First_Selection</name>
        <label>Remove First Selection</label>
        <locationX>1633</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>tScreenListSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRemoveFirstListElement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suggested_Conferee_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_on_List</name>
        <label>Already on List?</label>
        <locationX>537</locationX>
        <locationY>913</locationY>
        <defaultConnector>
            <targetReference>Suggested_Conferee_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Suggested_Conferee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorAlreadyOnListScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_on_List_0</name>
        <label>Already on List?</label>
        <locationX>1490</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>Suggested_Conferee_create_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Suggested_Conferee_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_Selected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Selected</name>
        <label>Any Selected?</label>
        <locationX>1322</locationX>
        <locationY>540</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tScreenListSelection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_Selection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_Lists</name>
        <label>How many Lists</label>
        <locationX>685</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>ListSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&gt;1</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nNumberOfLists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_List</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nNumberOfLists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_List</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selection_Made</name>
        <label>Selection Made?</label>
        <locationX>1076</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>ListSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tScreenListSelection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_trailing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_RecordId</name>
        <label>Valid RecordId?</label>
        <locationX>169</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>ErrorScreenWrongObject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suggestion_Lists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rcsSuggestedLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>MyList__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fGetNextListItem</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!tScreenListSelection},FIND(&quot;;&quot;,{!tScreenListSelection})-1))</expression>
    </formulas>
    <formulas>
        <name>fIdIfContact</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId},3)=&quot;003&quot;,{!recordId},null)</expression>
    </formulas>
    <formulas>
        <name>fIdIfLead</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId},3)=&quot;00Q&quot;,{!recordId},null)</expression>
    </formulas>
    <formulas>
        <name>fRemoveFirstListElement</name>
        <dataType>String</dataType>
        <expression>TRIM(MID({!tScreenListSelection},FIND(&quot;;&quot;,{!tScreenListSelection})+1,255))</expression>
    </formulas>
    <interviewLabel>Add Suggested Conferee to List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Conferee to MyList</label>
    <loops>
        <name>First_List</name>
        <label>First List</label>
        <locationX>691</locationX>
        <locationY>504</locationY>
        <collectionReference>Suggestion_Lists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Default_List</name>
        <label>Default List</label>
        <locationX>409</locationX>
        <locationY>646</locationY>
        <assignRecordIdToReference>tListId</assignRecordIdToReference>
        <connector>
            <targetReference>Suggested_Conferee</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>{!$User.FirstName}&apos;s Default Suggestion List</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Default List</stringValue>
            </value>
        </inputAssignments>
        <object>MyList__c</object>
    </recordCreates>
    <recordCreates>
        <name>Suggested_Conferee_create</name>
        <label>Suggested Conferee</label>
        <locationX>544</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CompletionScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>fIdIfContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>fIdIfLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyList__c</field>
            <value>
                <elementReference>tListId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Enter_notes_for_this_conferee_optional</elementReference>
            </value>
        </inputAssignments>
        <object>MyList_Conferee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Suggested_Conferee_create_0</name>
        <label>Suggested Conferee</label>
        <locationX>1330</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Any_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>fIdIfContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>fIdIfLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyList__c</field>
            <value>
                <elementReference>tListId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Enter_notes_for_this_conferee_optional</elementReference>
            </value>
        </inputAssignments>
        <object>MyList_Conferee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Suggested_Conferee</name>
        <label>Suggested Conferee</label>
        <locationX>545</locationX>
        <locationY>769</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_on_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MyList__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tListId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fIdIfContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fIdIfLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MyList_Conferee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Suggested_Conferee_0</name>
        <label>Suggested Conferee</label>
        <locationX>1636</locationX>
        <locationY>712</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_on_List_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MyList__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tListId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fIdIfContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fIdIfLead</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MyList_Conferee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Suggestion_Lists</name>
        <label>Suggestion Lists</label>
        <locationX>329</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MyList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CompletionScreen</name>
        <label>CompletionScreen</label>
        <locationX>902</locationX>
        <locationY>1164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompletionField</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The Contact has been successfully added.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorAlreadyOnListScreen</name>
        <label>ErrorAlreadyOnListScreen</label>
        <locationX>390</locationX>
        <locationY>909</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAlreadyOnListField</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This suggested conferee is already on the selected list&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreenWrongObject</name>
        <label>ErrorScreenWrongObject</label>
        <locationX>177</locationX>
        <locationY>399</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorFieldWrongObject</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This Flow must be invoked from a Contact or Lead record page.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ListSelection</name>
        <label>ListSelection</label>
        <locationX>975</locationX>
        <locationY>357</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selection</targetReference>
        </connector>
        <fields>
            <name>Add_to_which_List</name>
            <choiceReferences>rcsSuggestedLists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;span font=&quot;16px&quot;&gt;Add to which List?&lt;/span&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotesScreen</name>
        <label>NotesScreen</label>
        <locationX>572</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>How_many_Lists</targetReference>
        </connector>
        <fields>
            <name>Enter_notes_for_this_conferee_optional</name>
            <fieldText>Enter notes for this conferee</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Valid_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>nNumberOfLists</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>To contain the Contact or Lead ID to be added to a Suggestion List</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tListId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tScreenListSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
