force-app/main/default/flows/Add_Citation_to_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Citation_Ids</name>
        <label>Get Citation Ids</label>
        <locationX>702</locationX>
        <locationY>388</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Citation_Records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Conference_Citation__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Citation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Conference_Citations</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colCitationIds</assignToReference>
            <name>fieldValueCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Citation_Records</name>
        <label>Get Citation Records</label>
        <locationX>831</locationX>
        <locationY>388</locationY>
        <actionName>GetRecordsFromIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Existing_Citations</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldNames</name>
            <value>
                <stringValue>Id,Citation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputIds</name>
            <value>
                <elementReference>colCitationIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Citation__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colCitations</assignToReference>
            <name>records</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Remove_Existing_Citations</name>
        <label>Remove Existing Citations</label>
        <locationX>961</locationX>
        <locationY>388</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Number_of_Results</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>Session_Readings__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>colCitations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>colExistingSessionReadings</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Citation__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colResultCitations</assignToReference>
            <name>sourceUniqueRecordCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_Choice_Collections</name>
        <label>Add to Choice Collections</label>
        <locationX>960</locationX>
        <locationY>725</locationY>
        <assignmentItems>
            <assignToReference>colCitationChoiceLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Citation_Choices.Citation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colCitationChoiceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Citation_Choices.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Citation_Choices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Existing_Session_Readings</name>
        <label>Copy Existing Session Readings</label>
        <locationX>314</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>colExistingSessionReadings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Session_Readings_query</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conference_Citations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Results</name>
        <label>Number of Results</label>
        <locationX>961</locationX>
        <locationY>538</locationY>
        <assignmentItems>
            <assignToReference>nNumResults</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colResultCitations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Results_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Session_Reading</name>
        <label>Populate Session Reading</label>
        <locationX>1201</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>recSessionReading.Annotation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Annotation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Citation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CitationChoice.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Exclude_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exclude_Flag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Pages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pages_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Page_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Page_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Conference_Citation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conference_Citation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddOneToSortOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Credit_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Copy_Purchase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_Purchase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSessionReading.Chapter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chapter_long</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Reading</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Citations_on_Proposal</name>
        <label>Any Citations on Proposal?</label>
        <locationX>557</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>NoRemainingCitationsErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Conference_Citations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Citation_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conference_Manager</name>
        <label>Conference Manager?</label>
        <locationX>169</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>ProfileErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LF Conference Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Results_decision</name>
        <label>Number of Results</label>
        <locationX>777</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Citation_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&gt;0</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nNumResults</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRemainingCitationsErrorScreen</targetReference>
            </connector>
            <label>0</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcsCopyPurchase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Copy_Purchase__c</picklistField>
        <picklistObject>Session_Readings__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fAddOneToSortOrder</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!nSortOrder}),1,1+{!nSortOrder})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Add Citation to Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Citation to Session</label>
    <loops>
        <name>Citation_Choices</name>
        <label>Citation Choices</label>
        <locationX>785</locationX>
        <locationY>725</locationY>
        <collectionReference>colResultCitations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Choice_Collections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Multi_Citation_Page</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Session_Reading</name>
        <label>Session Reading</label>
        <locationX>1357</locationX>
        <locationY>898</locationY>
        <inputReference>recSessionReading</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Conference_Citation</name>
        <label>Conference Citation</label>
        <locationX>912</locationX>
        <locationY>898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Session_Reading_w_Max_Sort_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Session.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Citation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CitationChoice.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conference_Citation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Conference_Citations</name>
        <label>Conference Citations</label>
        <locationX>434</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Citations_on_Proposal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Session.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Conference_Citation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Existing_Session_Readings_query</name>
        <label>Existing Session Readings</label>
        <locationX>188</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Existing_Session_Readings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session_Readings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Session</name>
        <label>Session</label>
        <locationX>59</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Session_Readings_query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Session_Reading_w_Max_Sort_Order</name>
        <label>Session Reading w/ Max Sort Order</label>
        <locationX>1050</locationX>
        <locationY>898</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Session_Reading</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Session_Readings__c</object>
        <outputAssignments>
            <assignToReference>nSortOrder</assignToReference>
            <field>Sort_Order__c</field>
        </outputAssignments>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Add_Multi_Citation_Page</name>
        <label>Add MultiCitation Page</label>
        <locationX>785</locationX>
        <locationY>898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Conference_Citation</targetReference>
        </connector>
        <fields>
            <name>AddMultiCitationField</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select the citation you would like to add:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CitationChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>colCitationChoiceLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>colCitationChoiceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>1000.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BlankLineField</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chapter_long</name>
            <fieldText>Chapter</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pages_text</name>
            <dataType>String</dataType>
            <fieldText>List of Pages (i.e.: 1-10, 20-25)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Page_Count</name>
            <dataType>Number</dataType>
            <fieldText>Page Count (leave blank to auto-calculate on Save)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Credit_Line</name>
            <dataType>String</dataType>
            <fieldText>Credit Line</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Annotation</name>
            <fieldText>Annotation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_Purchase</name>
            <choiceReferences>pcsCopyPurchase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Copy/Purchase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Exclude_Flag</name>
            <dataType>Boolean</dataType>
            <fieldText>Exclude Flag</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRemainingCitationsErrorScreen</name>
        <label>NoRemainingCitationsErrorScreen</label>
        <locationX>644</locationX>
        <locationY>716</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRemainingCitationsField</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There are no Citations available on the Conference/Proposal to assign to this session.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProfileErrorScreen</name>
        <label>ProfileErrorScreen</label>
        <locationX>39</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProfileErrorField</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This action must be performed by a LF Conference Manager&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Conference_Manager</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bNoRecordsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bNoSearchCriteriaError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colCitationChoiceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colCitationChoiceLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colCitationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colCitations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Citation__c</objectType>
    </variables>
    <variables>
        <name>colConferenceCitationsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>colExistingCitations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Citation__c</objectType>
    </variables>
    <variables>
        <name>colExistingConferenceCitations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>colExistingSessionReadings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Readings__c</objectType>
    </variables>
    <variables>
        <name>colResultCitations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Citation__c</objectType>
    </variables>
    <variables>
        <name>nNumResults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nSortOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recCitationToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Citation__c</objectType>
    </variables>
    <variables>
        <name>recConferenceCitation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSessionReading</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Readings__c</objectType>
    </variables>
    <variables>
        <name>tTempTextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
