force-app/main/default/flows/Campaign_tallies_for_CampaignMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Increment_Future</name>
        <label>Increment Future</label>
        <locationX>1167</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>Contact.Future_Conferences__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampaignMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Past_Year</name>
        <label>Increment Past Year</label>
        <locationX>1085</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>Contact.Conferences_Attended_Past_Year__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Future_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Total_Count</name>
        <label>Increment Total Count</label>
        <locationX>213</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>Contact.Total_Conferences_Attended__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Earliest_Conf_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear/zero out fields to allow for recalculation</description>
        <name>Initialize_fields</name>
        <label>Initialize fields</label>
        <locationX>237</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>Contact.First_Conference_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.First_Conference__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Conferences_Attended_Past_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Future_Conferences__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Total_Conferences_Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.First_Director_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.First_DL_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CampaignMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_First_Conf</name>
        <label>Set as First Conf</label>
        <locationX>380</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>Contact.First_Conference_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignMembers.Conference_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.First_Conference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignMembers.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Director</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Dir_Date</name>
        <label>Set First Dir Date</label>
        <locationX>673</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>Contact.First_Director_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignMembers.Conference_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disc_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_DL_Date</name>
        <label>Set First DL Date</label>
        <locationX>912</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>Contact.First_DL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignMembers.Conference_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>In_Past_Year</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Director</name>
        <label>Director?</label>
        <locationX>532</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Disc_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMembers.Participation_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dir</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Earliest_Conf_Date_Dir</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disc_Lead</name>
        <label>Disc Lead?</label>
        <locationX>749</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>In_Past_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMembers.Participation_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Disc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Earliest_DL_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Earliest_Conf_Date</name>
        <label>Earliest Conf Date?</label>
        <locationX>349</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact.First_Conference_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignMembers.Conference_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Contact.First_Conference_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_First_Conf</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Earliest_Conf_Date_Dir</name>
        <label>Earliest Conf Date?</label>
        <locationX>532</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Disc_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact.First_Director_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignMembers.Conference_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Contact.First_Director_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Dir_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Earliest_DL_Date</name>
        <label>Earliest DL Date?</label>
        <locationX>770</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>In_Past_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact.First_DL_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignMembers.Conference_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Contact.First_DL_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_DL_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_Date</name>
        <label>Future Date?</label>
        <locationX>1150</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>CampaignMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsFuture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Future</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Past_Year</name>
        <label>In Past Year?</label>
        <locationX>972</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Future_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsPastYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Past_Year</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_in_Count</name>
        <label>Include in Count?</label>
        <locationX>292</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>CampaignMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMembers.Participation_Include_Count_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Total_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Calculates the various Campaign tally metrics when a CampaignMember is updated</description>
    <formulas>
        <name>fIsFuture</name>
        <dataType>Boolean</dataType>
        <expression>{!CampaignMembers.Conference_Start_Date__c} &gt; {!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>fIsPastYear</name>
        <dataType>Boolean</dataType>
        <expression>AND({!CampaignMembers.Conference_Start_Date__c} &lt; {!$Flow.CurrentDate}, 
{!CampaignMembers.Conference_Start_Date__c} &gt;  {!$Flow.CurrentDate}-365)</expression>
    </formulas>
    <interviewLabel>Campaign tallies for CampaignMember {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign tallies for CampaignMember</label>
    <loops>
        <name>CampaignMembers</name>
        <label>CampaignMembers</label>
        <locationX>644</locationX>
        <locationY>292</locationY>
        <collectionReference>My_CampaignMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Include_in_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact_upd</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>117</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>My_CampaignMembers</name>
        <label>My CampaignMembers</label>
        <locationX>9</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Contact_upd</name>
        <label>Contact</label>
        <locationX>645</locationX>
        <locationY>110</locationY>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>My_CampaignMembers</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
