force-app/main/default/flows/Citation_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Populate_Citation_trunc</name>
        <label>Populate Citation trunc</label>
        <locationX>438</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>$Record.Citation_trunc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTruncCitation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publication_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Name</name>
        <label>Populate Name</label>
        <locationX>788</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Publication Name</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Trunc_Publication_Name</name>
        <label>Trunc Publication Name</label>
        <locationX>619</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTruncPublication</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Publication_empty</name>
        <label>Publication empty?</label>
        <locationX>611</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Trunc_Publication_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publication_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publication_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fTruncCitation</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Citation__c},255)</expression>
    </formulas>
    <formulas>
        <name>fTruncPublication</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!$Record.Publication_Title__c})&gt;77,LEFT({!$Record.Publication_Title__c},77)&amp;&quot;...&quot;,{!$Record.Publication_Title__c})</expression>
    </formulas>
    <interviewLabel>Citation Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Citation Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Populate_Citation_trunc</targetReference>
        </connector>
        <object>Citation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
