force-app/main/default/flows/Citation_Before_Save_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Italics_End</name>
        <label>Add Italics End</label>
        <locationX>638</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>$Record.Citation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/i&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bItalicsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Italics_Start</name>
        <label>Add Italics Start</label>
        <locationX>625</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>$Record.Citation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;i&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bItalicsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Current_Char</name>
        <label>Append Current Char</label>
        <locationX>360</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>$Record.Citation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fCurrentChar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Line_Break</name>
        <label>Append Line Break</label>
        <locationX>186</locationX>
        <locationY>861</locationY>
        <assignmentItems>
            <assignToReference>$Record.Citation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bump_past_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bump_past_n</name>
        <label>Bump past n</label>
        <locationX>385</locationX>
        <locationY>925</locationY>
        <assignmentItems>
            <assignToReference>nStringPosition</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Citation</name>
        <label>Clear Citation</label>
        <locationX>382</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>$Record.Citation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Markdown_delimiter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_position</name>
        <label>Increment position</label>
        <locationX>772</locationX>
        <locationY>770</locationY>
        <assignmentItems>
            <assignToReference>nStringPosition</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_of_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Vars</name>
        <label>Initialize Vars</label>
        <locationX>383</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>nStringPosition</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bItalicsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Citation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Name</name>
        <label>Set Default Name</label>
        <locationX>1118</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Publication Title</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Trunc_Pub_Title</name>
        <label>Trunc Pub Title</label>
        <locationX>986</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTruncPubTitle</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_CitiationTrunc</name>
        <label>Update CitiationTrunc</label>
        <locationX>855</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>$Record.Citation_trunc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTruncCitation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pub_Title_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>At_end_of_string</name>
        <label>At end of string?</label>
        <locationX>187</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Next_Char_n</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nStringPosition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fStringLength</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Current_Char</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Citation_changed</name>
        <label>Citation changed?</label>
        <locationX>756</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>Pub_Title_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Citation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Citation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CitiationTrunc</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_of_String</name>
        <label>End of String?</label>
        <locationX>762</locationX>
        <locationY>488</locationY>
        <defaultConnector>
            <targetReference>Markdown_delimiter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nStringPosition</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fStringLength</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Citation_changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Markdown_Changed</name>
        <label>Markdown Changed?</label>
        <locationX>567</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Citation_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Citation_Markdown__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Citation_Markdown__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Vars</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Markdown_delimiter</name>
        <label>Markdown delimiter?</label>
        <locationX>372</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Append_Current_Char</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not delimiter</defaultConnectorLabel>
        <rules>
            <name>Italics</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fCurrentChar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCurrentChar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>*</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_or_End_Italics</targetReference>
            </connector>
            <label>Italics</label>
        </rules>
        <rules>
            <name>Backslash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCurrentChar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>\</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>At_end_of_string</targetReference>
            </connector>
            <label>Backslash</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Char_n</name>
        <label>Next Char &apos;n&apos;?</label>
        <locationX>179</locationX>
        <locationY>669</locationY>
        <defaultConnector>
            <targetReference>Append_Current_Char</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fNextChar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>n</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Line_Break</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pub_Title_blank</name>
        <label>Pub Title blank?</label>
        <locationX>1038</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Trunc_Pub_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publication_Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publication_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pub_Title_changed</name>
        <label>Pub Title changed or Name blank?</label>
        <locationX>1039</locationX>
        <locationY>126</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publication_Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Publication_Title__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pub_Title_blank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_or_End_Italics</name>
        <label>Start or End Italics</label>
        <locationX>481</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Add_Italics_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bItalicsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Italics_Start</targetReference>
            </connector>
            <label>Start</label>
        </rules>
    </decisions>
    <formulas>
        <name>fCurrentChar</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.Citation_Markdown__c}, {!nStringPosition},1)</expression>
    </formulas>
    <formulas>
        <name>fNextChar</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.Citation_Markdown__c}, {!nStringPosition}+1,1)</expression>
    </formulas>
    <formulas>
        <name>fStringLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.Citation_Markdown__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fTruncCitation</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Citation__c},255)</expression>
    </formulas>
    <formulas>
        <name>fTruncPubTitle</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!$Record.Publication_Title__c})&gt;77,LEFT({!$Record.Publication_Title__c},77)&amp;&quot;...&quot;,{!$Record.Publication_Title__c})</expression>
    </formulas>
    <interviewLabel>Citation Before Save Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Citation Before Save Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>99</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Citation_changed</targetReference>
        </connector>
        <object>Citation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>bItalicsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>nStringPosition</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
