force-app/main/default/flows/Daily_Update_of_Conference_Counts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_comma</name>
        <label>Add comma</label>
        <locationX>1614</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>tPrimaryExpertise</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Expertise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Expertise</name>
        <label>Add Expertise</label>
        <locationX>1485</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>tPrimaryExpertise</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Expertise.Expertise__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expertise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Expertise</name>
        <label>Clear Expertise</label>
        <locationX>988</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>tPrimaryExpertise</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_Expertise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conf_Only_Count</name>
        <label>Conf Only Count</label>
        <locationX>316</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>nConferenceOnlyCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Conferences_Only</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Co_Spon_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CoSpon_Count</name>
        <label>CoSpon Count</label>
        <locationX>309</locationX>
        <locationY>1282</locationY>
        <assignmentItems>
            <assignToReference>nCoSponOnly</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Co_Spon_Only</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Past_Year_Conferences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_All</name>
        <label>Count All</label>
        <locationX>175</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>nTotalConferences</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>All_Conferences</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_conferences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Future</name>
        <label>Count Future</label>
        <locationX>302</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>nFutureConferences</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Future_Conferences</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Participation_thru_today</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Past_Year</name>
        <label>Count Past Year</label>
        <locationX>303</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>nPastConferences</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Past_Year_Conferences</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Future_Conferences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Director_Count</name>
        <label>Director Count</label>
        <locationX>316</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>nDirectedCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Directed_Conferences</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disc_Led_Conferences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DiscLead_Count</name>
        <label>DiscLead Count</label>
        <locationX>316</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>nDiscLeadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Disc_Led_Conferences</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conferences_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Most_Recent_Date</name>
        <label>Set Most Recent Date</label>
        <locationX>478</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>dMostRecentAttendance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent.Conference_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_First_Conference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publication_Flag</name>
        <label>Set Publication Flag</label>
        <locationX>919</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>bPublicationFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Expertise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Web_Author_Flag</name>
        <label>Set Web Author Flag</label>
        <locationX>641</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>bWebAuthorFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publication_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Since Primary Expertise is a Text field, it must be truncated to 255 characters</description>
        <name>Trunc_Primary_Expertise</name>
        <label>Trunc Primary Expertise</label>
        <locationX>1303</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>tPrimaryExpertise</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTruncTo255Chars</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Region</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_conferences</name>
        <label>Any conferences?</label>
        <locationX>167</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Web_Contributors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nTotalConferences</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Directed_Conferences</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Participation</name>
        <label>Any Participation?</label>
        <locationX>283</locationX>
        <locationY>1828</locationY>
        <defaultConnector>
            <targetReference>Get_First_Conference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Participation_thru_today</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Publication_Roles</name>
        <label>Any Publication Roles?</label>
        <locationX>802</locationX>
        <locationY>739</locationY>
        <defaultConnector>
            <targetReference>Clear_Expertise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Publication_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publication_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Updates</name>
        <label>Any Updates?</label>
        <locationX>1297</locationX>
        <locationY>945</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>nTotalConferences</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Total_Conferences_Attended__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nPastConferences</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Conferences_Attended_Past_Year__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nFutureConferences</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Future_Conferences__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_First_Conference.Conference_Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.First_Conference_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_First_Conference.CampaignId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.First_Conference__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>tPrimaryExpertise</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Primary_Expertise__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nDirectedCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Count_as_Director__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nDiscLeadCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Count_as_Disc_Lead__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nConferenceOnlyCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Total_Attended_Conferences_Only__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>nCoSponOnly</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Total_Attended_CoSpon_Only__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bWebAuthorFlag</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Website_Contributor__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bPublicationFlag</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Publication_Editor_Author__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>tRegionName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>dMostRecentAttendance</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Most_Recent_Attended_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Web_Authors</name>
        <label>Any Web Authors?</label>
        <locationX>540</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Publication_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Web_Contributors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Web_Author_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_comma</name>
        <label>Need comma?</label>
        <locationX>1475</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>Add_Expertise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tPrimaryExpertise</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_comma</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>fTruncTo255Chars</name>
        <dataType>String</dataType>
        <expression>LEFT({!tPrimaryExpertise}, 255)</expression>
    </formulas>
    <formulas>
        <name>fYearAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-365</expression>
    </formulas>
    <interviewLabel>Scheduled Update of Conference Counts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Update of Conference Counts</label>
    <loops>
        <name>Expertise</name>
        <label>Expertise</label>
        <locationX>1303</locationX>
        <locationY>329</locationY>
        <collectionReference>Primary_Expertise</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Need_comma</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Trunc_Primary_Expertise</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_First_Conference</name>
        <label>Get First Conference</label>
        <locationX>469</locationX>
        <locationY>1645</locationY>
        <collectionReference>All_Conferences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Web_Contributors</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Get_Most_Recent</name>
        <label>Get Most Recent</label>
        <locationX>291</locationX>
        <locationY>2002</locationY>
        <collectionReference>All_Participation_thru_today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Most_Recent_Date</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Conferences</name>
        <label>All Conferences</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participation_Include_Count_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <sortField>Conference_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>All_Participation_thru_today</name>
        <label>All Participation thru today</label>
        <locationX>142</locationX>
        <locationY>1830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Participation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Conference_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participation_Include_Count_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <sortField>Conference_Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Co_Spon_Only</name>
        <label>Co-Spon Only</label>
        <locationX>159</locationX>
        <locationY>1282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CoSpon_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Co-Sponsor Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>Participation_Include_Count_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Conferences_Only</name>
        <label>Conferences Only</label>
        <locationX>167</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conf_Only_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>Participation_Include_Count_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Directed_Conferences</name>
        <label>Directed Conferences</label>
        <locationX>175</locationX>
        <locationY>760</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Director_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Director__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Participation_Include_Count_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conference</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Disc_Led_Conferences</name>
        <label>Disc Led Conferences</label>
        <locationX>172</locationX>
        <locationY>932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DiscLead_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Disc_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Participation_Include_Count_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conference</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Future_Conferences</name>
        <label>Future Conferences</label>
        <locationX>148</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Future</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conference_Start_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participation_Include_Count_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conference</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Past_Year_Conferences</name>
        <label>Past Year Conferences</label>
        <locationX>152</locationX>
        <locationY>1464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Past_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conference_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Conference_Start_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>fYearAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participation_Include_Count_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conference</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Primary_Expertise</name>
        <label>Primary Expertise</label>
        <locationX>1185</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expertise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Expertise__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expertise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Publication_Roles</name>
        <label>Publication Roles</label>
        <locationX>731</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Publication_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Publication_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Region</name>
        <label>Region</label>
        <locationX>1304</locationX>
        <locationY>726</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Updates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </filters>
        <object>Region__c</object>
        <outputAssignments>
            <assignToReference>tRegionName</assignToReference>
            <field>Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Web_Contributors</name>
        <label>Web Contributors</label>
        <locationX>488</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Web_Authors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LF_Web_Contributor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>1467</locationX>
        <locationY>941</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Conferences_Attended_Past_Year__c</field>
            <value>
                <elementReference>nPastConferences</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_as_Director__c</field>
            <value>
                <elementReference>nDirectedCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_as_Disc_Lead__c</field>
            <value>
                <elementReference>nDiscLeadCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Conference_Date__c</field>
            <value>
                <elementReference>Get_First_Conference.Conference_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Conference__c</field>
            <value>
                <elementReference>Get_First_Conference.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Conferences__c</field>
            <value>
                <elementReference>nFutureConferences</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Attended_Date__c</field>
            <value>
                <elementReference>dMostRecentAttendance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Expertise__c</field>
            <value>
                <elementReference>tPrimaryExpertise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publication_Editor_Author__c</field>
            <value>
                <elementReference>bPublicationFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>tRegionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Attended_CoSpon_Only__c</field>
            <value>
                <elementReference>nCoSponOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Attended_Conferences_Only__c</field>
            <value>
                <elementReference>nConferenceOnlyCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Conferences_Attended__c</field>
            <value>
                <elementReference>nTotalConferences</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_Contributor__c</field>
            <value>
                <elementReference>bWebAuthorFlag</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>44</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>All_Conferences</targetReference>
        </connector>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-04-19</startDate>
            <startTime>14:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>bPublicationFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bWebAuthorFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>dMostRecentAttendance</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nConferenceOnlyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nCoSponOnly</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nDirectedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nDiscLeadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nFutureConferences</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nPastConferences</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nTotalConferences</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tPrimaryExpertise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tRegionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
