force-app/main/default/flows/Populate_Director_Fields_on_Campaign_Member_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Clear out the existing values for Director and Director Display so we can rebuild them</description>
        <name>Clear_Director_Director_Display</name>
        <label>Clear Director/Director Display</label>
        <locationX>465</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>Campaign.Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Campaign.Director_Display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Director_CampMbrs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Names</name>
        <label>Concat Names</label>
        <locationX>978</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>Campaign.Director__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Director_loop.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Campaign.Director_Display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDirectorDisplayValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Director_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If this is the 2nd (or later) director, we need a comma in Director and &apos;and&apos; in Director Display</description>
        <name>Insert_comma_and</name>
        <label>Insert comma, and</label>
        <locationX>1132</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>Campaign.Director__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Campaign.Director_Display__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> and </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Names</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Deleted_record_a_director</name>
        <label>Deleted record a director?</label>
        <locationX>174</locationX>
        <locationY>320</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Participation_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dir</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_to_be_deleted</name>
        <label>Record to be deleted?</label>
        <locationX>872</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>X1st_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Director_loop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Director_loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1st_Director</name>
        <label>1st Director?</label>
        <locationX>969</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Insert_comma_and</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.Director__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_Names</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>Used in the loop to construct the Director Display value: Firstname Lastname (Company)</description>
        <name>fDirectorDisplayValue</name>
        <dataType>String</dataType>
        <expression>LEFT({!Campaign.Director_Display__c} &amp; {!Director_loop.FirstName} &amp; &quot; &quot; &amp; {!Director_loop.LastName} &amp; &quot; (&quot; &amp; {!Director_loop.Primary_Affiliation_Name__c} &amp; &quot;)&quot;, 255)</expression>
    </formulas>
    <interviewLabel>Populate Director Fields on Campaign Member delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Director Fields on Campaign Member delete</label>
    <loops>
        <name>Director_loop</name>
        <label>Director loop</label>
        <locationX>759</locationX>
        <locationY>312</locationY>
        <collectionReference>All_Director_CampMbrs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_to_be_deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Campaign_upd</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Director_CampMbrs</name>
        <label>All Director CampMbrs</label>
        <locationX>614</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Director_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participation_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Dir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Campaign</name>
        <label>Campaign</label>
        <locationX>324</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clear_Director_Director_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Campaign_upd</name>
        <label>Campaign</label>
        <locationX>758</locationX>
        <locationY>503</locationY>
        <inputReference>Campaign</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Deleted_record_a_director</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
