force-app/main/default/flows/Programs_Before_Save_actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Name_to_Conference_ID</name>
        <label>Set Name to Conference ID</label>
        <locationX>339</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.E_number__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Name_to_Conference_ID_0_0</name>
        <label>Set Name to Conference ID</label>
        <locationX>319</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Conf or Prop ID</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Name_to_Proposal_ID</name>
        <label>Set Name to Proposal ID</label>
        <locationX>325</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Proposal_ID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Conference_ID_populated</name>
        <label>Conference ID populated?</label>
        <locationX>167</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Proposal_ID_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.E_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Name_to_Conference_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proposal_ID_populated</name>
        <label>Proposal ID populated?</label>
        <locationX>165</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Set_Name_to_Conference_ID_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proposal_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Name_to_Proposal_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Programs Before Save actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Programs Before Save actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Conference_ID_populated</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
