force-app/main/default/flows/Repeat_Conference_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Not_Found_flag</name>
        <label>Not Found flag</label>
        <locationX>1077</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>bRepeatNotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RepeatConferenceScreen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Repeat_Of</name>
        <label>Populate Repeat Of</label>
        <locationX>1342</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>Program.Repeat_Of__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repeat_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Program_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_toConfCitations</name>
        <label>Any toConfCitations?</label>
        <locationX>792</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>RepeatConferenceScreen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toConfCitations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfCitPopulatedErrorScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_toSessions</name>
        <label>Any toSessions?</label>
        <locationX>544</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>toConfCitations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toSessions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SessionsPopulatedErrorScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repeat_populated</name>
        <label>Repeat populated?</label>
        <locationX>307</locationX>
        <locationY>161</locationY>
        <defaultConnector>
            <targetReference>toSessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Program.Repeat_Of__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlreadyRepeatErrorScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repeat_Program_Found</name>
        <label>Repeat Program Found?</label>
        <locationX>1202</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Not_Found_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Repeat_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Repeat_Of</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This screen flow will walk a LF Conference Manager through setting a new conference up to be a repeat of an older conference.</description>
    <interviewLabel>Repeat Conference Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Repeat Conference Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Program</name>
        <label>Program</label>
        <locationX>197</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Repeat_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Repeat_Program</name>
        <label>Repeat Program</label>
        <locationX>1086</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Repeat_Program_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>E_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Conference_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>toConfCitations</name>
        <label>toConfCitations</label>
        <locationX>685</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_toConfCitations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Conference_Citation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>toSessions</name>
        <label>toSessions</label>
        <locationX>441</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_toSessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Program_update</name>
        <label>Program</label>
        <locationX>1474</locationX>
        <locationY>162</locationY>
        <inputReference>Program</inputReference>
    </recordUpdates>
    <screens>
        <name>AlreadyRepeatErrorScreen</name>
        <label>AlreadyRepeatErrorScreen</label>
        <locationX>313</locationX>
        <locationY>336</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadyRepeatError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This program is already configured as a repeat of a prior program.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfCitPopulatedErrorScreen</name>
        <label>ConfCitPopulatedErrorScreen</label>
        <locationX>803</locationX>
        <locationY>376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfCitPopulatedError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Unable to configure a repeat due to existing Conference Citations data.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RepeatConferenceScreen1</name>
        <label>RepeatConferenceScreen1</label>
        <locationX>945</locationX>
        <locationY>161</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Repeat_Program</targetReference>
        </connector>
        <fields>
            <name>Conference_ID</name>
            <dataType>String</dataType>
            <fieldText>Please enter the Conference ID that you wish to repeat</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConferenceNotFoundError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Conference Number not found. Please try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>bRepeatNotFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SessionsPopulatedErrorScreen</name>
        <label>SessionsPopulatedErrorScreen</label>
        <locationX>553</locationX>
        <locationY>335</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SessionsPopulatedError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Unable to configure a repeat due to existing Sessions data.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>71</locationX>
        <locationY>3</locationY>
        <connector>
            <targetReference>Program</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bRepeatNotFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>colConCitationSearchResults</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>colSessionReadingsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Readings__c</objectType>
    </variables>
    <variables>
        <name>recConfCit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>recConfCitationSearchResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>recSesstionReading</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Readings__c</objectType>
    </variables>
</Flow>
