force-app/main/default/flows/Repeat_Conference_After_Save_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Need to look up the proper New Conference Citation to link to the Session Reading using the Citation ID stored on both</description>
        <name>Find_New_ConfCit</name>
        <label>Find New ConfCit</label>
        <locationX>1871</locationX>
        <locationY>559</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Populate_ConfCit</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>Conference_Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Conference_Citation__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>Conference_Citation__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>toConfCitations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>citation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Conference_Citation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>Readings.Citation__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colConCitationSearchResults</assignToReference>
            <name>multipleOutputMembers</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recConfCitationSearchResult</assignToReference>
            <name>singleOutputMember</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_ConfCit_List</name>
        <label>Add to ConfCit List</label>
        <locationX>783</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>toConfCitations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recConfCit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>From_ConfCit_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_new_Readings_List</name>
        <label>Add to new Readings List</label>
        <locationX>1737</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>colSessionReadingsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSesstionReading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Readings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_ConfCit</name>
        <label>Copy ConfCit</label>
        <locationX>923</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>recConfCit.Citation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>From_ConfCit_loop.Citation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfCit.Credit_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>From_ConfCit_loop.Credit_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfCit.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>From_ConfCit_loop.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recConfCit.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_ConfCit_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_ConfCit</name>
        <label>Populate ConfCit</label>
        <locationX>1871</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>recSesstionReading.Conference_Citation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recConfCitationSearchResult.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_new_Readings_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_ToReading</name>
        <label>Populate ToReading</label>
        <locationX>1872</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>recSesstionReading.Annotation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Annotation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.BibliographyId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.BibliographyId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Chapter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Chapter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Citation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Citation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Copy_Purchase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Copy_Purchase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Credit_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Credit_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Exclude_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Exclude_Flag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Page_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Page_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Pages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Pages__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Publication_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Publication_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSession.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSesstionReading.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readings.Sort_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_New_ConfCit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_ToSession</name>
        <label>Populate ToSession</label>
        <locationX>1399</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>recSession.LFBudgId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromSessions_loop.LFBudgId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSession.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSession.Roman__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromSessions_loop.Roman__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSession.Session_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromSessions_loop.Session_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSession.Subtitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromSessions_loop.Subtitle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSession.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fromSessions_loop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toSession</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Conf_Citations</name>
        <label>Any Conf Citations?</label>
        <locationX>917</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>from_ConfCit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>From_ConfCit_loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_From_Sessions</name>
        <label>Any From Sessions?</label>
        <locationX>1420</locationX>
        <locationY>77</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>from_Sessions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fromSessions_loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_toConfCitations</name>
        <label>Any toConfCitations?</label>
        <locationX>522</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>from_ConfCit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toConfCitations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_toSessions</name>
        <label>Any toSessions?</label>
        <locationX>285</locationX>
        <locationY>282</locationY>
        <defaultConnector>
            <targetReference>toConfCitations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toSessions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repeat_populated</name>
        <label>Repeat populated?</label>
        <locationX>50</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Repeat_Of__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Repeat_Of__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Repeat_Of__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>toSessions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Repeat Conference After Save Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Repeat Conference After Save Processing</label>
    <loops>
        <name>From_ConfCit_loop</name>
        <label>From ConfCit</label>
        <locationX>924</locationX>
        <locationY>242</locationY>
        <collectionReference>from_ConfCit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_ConfCit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>toConfCit_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>fromSessions_loop</name>
        <label>from Sessions</label>
        <locationX>1401</locationX>
        <locationY>258</locationY>
        <collectionReference>from_Sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_ToSession</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Readings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Readings</name>
        <label>Readings</label>
        <locationX>1738</locationX>
        <locationY>554</locationY>
        <collectionReference>Session_Readings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_ToReading</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fromSessions_loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Readings</name>
        <label>New Readings</label>
        <locationX>1573</locationX>
        <locationY>148</locationY>
        <inputReference>colSessionReadingsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>toConfCit_create</name>
        <label>toConfCit</label>
        <locationX>1100</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>from_Sessions</targetReference>
        </connector>
        <inputReference>toConfCitations</inputReference>
    </recordCreates>
    <recordCreates>
        <name>toSession</name>
        <label>toSession</label>
        <locationX>1398</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Session_Readings</targetReference>
        </connector>
        <inputReference>recSession</inputReference>
    </recordCreates>
    <recordLookups>
        <name>from_ConfCit</name>
        <label>from ConfCit</label>
        <locationX>787</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Conf_Citations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Repeat_Of__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Conference_Citation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>from_Sessions</name>
        <label>from Sessions</label>
        <locationX>1312</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_From_Sessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Repeat_Of__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session__c</object>
        <sortField>Session_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Session_Readings</name>
        <label>Session Readings</label>
        <locationX>1525</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Readings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fromSessions_loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session_Readings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>toConfCitations</name>
        <label>toConfCitations</label>
        <locationX>416</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_toConfCitations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Conference_Citation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>toSessions</name>
        <label>toSessions</label>
        <locationX>188</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_toSessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>131</locationX>
        <locationY>3</locationY>
        <connector>
            <targetReference>Repeat_populated</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>bRepeatNotFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>colConCitationSearchResults</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>colSessionReadingsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Readings__c</objectType>
    </variables>
    <variables>
        <name>recConfCit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>recConfCitationSearchResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conference_Citation__c</objectType>
    </variables>
    <variables>
        <name>recSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>recSesstionReading</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session_Readings__c</objectType>
    </variables>
</Flow>
