force-app/main/default/flows/Request_Duplicate_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>formatCurrentDateTime</name>
        <label>formatCurrentDateTime</label>
        <locationX>402</locationX>
        <locationY>1910</locationY>
        <actionName>DateTimeUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>create_Duplicate_Record_Set</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_formatDateException</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>Datetime.format</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dateTimeString</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnFormat</name>
            <value>
                <stringValue>MM/dd/yyyy hh:mma</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeZone</name>
            <value>
                <elementReference>$User.TimeZoneSidKey</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorOccuredFormatDate</assignToReference>
            <name>errorOccured</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorFormatDate</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>formattedCurrentDateTimeString</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>getContactsFromIds</name>
        <label>getContactsFromIds</label>
        <locationX>930</locationX>
        <locationY>1310</locationY>
        <actionName>GetRecordsFromIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirm_Contacts_to_Merge</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldNames</name>
            <value>
                <stringValue>Name,npsp__Primary_Affiliation__c,Public_Email__c,Correspondence_Email__c,RecordType_Name__c,CreatedDate,LastModifiedDate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contactList</assignToReference>
            <name>records</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Split_LWC_Ids_into_List</name>
        <label>Split LWC Ids into List</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <actionName>InvocableSplitIdsIntoListFromString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loop_Create_Text_Template_from_Ids</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listWithIdAsString</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ids</assignToReference>
            <name>listIds</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_DupRecId_field_values</name>
        <label>assign DupRecId field values</label>
        <locationX>490</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>dupeRecItemForCollection.DuplicateRecordSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_Duplicate_Record_Set</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dupeRecItemForCollection.RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_create_DupRecItem_per_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_DupRecItem_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_DupRecItem_To_Collection</name>
        <label>assign DupRecItem To Collection</label>
        <locationX>490</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>dupRecItemToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dupeRecItemForCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_create_DupRecItem_per_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Record_Count</name>
        <label>assign Record Count</label>
        <locationX>842</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>countRecordsToMerge</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objectFromPrefix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Create_Text_Template_from_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setIdListCounts</name>
        <label>setIdListCounts</label>
        <locationX>754</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>countIdsList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countFilteredIdsList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Ids_by_Comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mustSplitIdStringIntoList</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Ids_by_Comma</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Ids by Comma</label>
        <locationX>754</locationX>
        <locationY>158</locationY>
        <assignNextValueToReference>currentItem_Filter_Ids_by_Comma</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Ids_by_Comma</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>,</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setIdListCounts</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>decision_createMergeReviewRequest</name>
        <label>decision_createMergeReviewRequest</label>
        <locationX>930</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_createMergeReviewRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mergedConfirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDuplicateRule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_duplicate_Rule_Found</name>
        <label>decision_duplicate Rule Found</label>
        <locationX>666</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Error_missingDuplicateRule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_dupRuleFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dupRuleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>formatCurrentDateTime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Includes_More_than_One_Record</name>
        <label>decision_Includes More than One Record</label>
        <locationX>754</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>decision_recordObjectType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_includes_one_or_zero_ids</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countRecordsToMerge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_tooFewRecords</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_recordObjectType</name>
        <label>decision_recordObjectType</label>
        <locationX>1458</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Error_invalidObjectType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsFromIds</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_leadNotSupported</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_acctNotSupported</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>mustSplitIdStringIntoList</name>
        <label>mustSplitIdStringIntoList?</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>loop_Create_Text_Template_from_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countIdsList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countFilteredIdsList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_LWC_Ids_into_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dupRecSetName</name>
        <dataType>String</dataType>
        <expression>{!sObjectType} &amp; &quot;: &quot; &amp; {!recordName} &amp; &quot; &quot; &amp; {!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName} &amp; &quot; (&quot; &amp; {!formattedCurrentDateTimeString} &amp; &quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>dupRecSetURL</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&apos;/lightning/r/DuplicateRecordSet/&quot; &amp; {!create_Duplicate_Record_Set} &amp; &quot;/view&apos;&gt;&quot; &amp; {!dupRecSetName} &amp; &quot;&lt;/a&gt;&quot;</expression>
    </formulas>
    <formulas>
        <description>Add lead and account comment fields to formula in future.</description>
        <name>mergedComments</name>
        <dataType>String</dataType>
        <expression>CASE({!sObjectType}, &quot;Contact&quot;, {!contactComments}, null)</expression>
    </formulas>
    <formulas>
        <description>Add lead and account confirm merge checkboxes in future (OR)</description>
        <name>mergedConfirmation</name>
        <dataType>Boolean</dataType>
        <expression>{!contactConfirmMerge}</expression>
    </formulas>
    <formulas>
        <name>objectFromPrefix</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!loop_Create_Text_Template_from_Ids},3), &quot;003&quot;, &quot;Contact&quot;, &quot;00Q&quot;, &quot;Lead&quot;, &quot;001&quot;, &quot;Account&quot;, &quot;Invalid&quot;)</expression>
    </formulas>
    <interviewLabel>Request Duplicate Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Duplicate Review</label>
    <loops>
        <name>loop_create_DupRecItem_per_Id</name>
        <label>loop_create DupRecItem per Id</label>
        <locationX>402</locationX>
        <locationY>2150</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_DupRecId_field_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Duplicate_Record_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Create_Text_Template_from_Ids</name>
        <label>loop_Create Text Template from Ids</label>
        <locationX>754</locationX>
        <locationY>734</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Record_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision_Includes_More_than_One_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Duplicate_Record_Items</name>
        <label>create Duplicate Record Items</label>
        <locationX>402</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>dupRecItemToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Duplicate_Record_Set</name>
        <label>create Duplicate Record Set</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>loop_create_DupRecItem_per_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>mergedComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DuplicateRuleId</field>
            <value>
                <elementReference>dupRuleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Request_Name__c</field>
            <value>
                <elementReference>dupRecSetName</elementReference>
            </value>
        </inputAssignments>
        <object>DuplicateRecordSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getDuplicateRule</name>
        <label>getDuplicateRule</label>
        <locationX>666</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_duplicate_Rule_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectType</elementReference>
            </value>
        </filters>
        <object>DuplicateRule</object>
        <outputAssignments>
            <assignToReference>dupRuleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>IsActive</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Contacts_to_Merge</name>
        <label>Confirm Contacts to Merge</label>
        <locationX>930</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decision_createMergeReviewRequest</targetReference>
        </connector>
        <fields>
            <name>contactExplanation</name>
            <fieldText>&lt;p&gt;You selected the following contacts to include in your merge review request:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reviewContactsToMergeTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>contactList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,npsp__Primary_Affiliation__c,Public_Email__c,Correspondence_Email__c,LFPID__c,RecordType_Name__c,CreatedDate,LastModifiedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:130, npsp__Primary_Affiliation__c:155, Public_Email__c:135, Correspondence_Email__c:155, LFPID__c:50, RecordType_Name__c:90, CreatedDate:115, LastModifiedDate:155</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>contactConfirmMerge</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Check here to confirm creation of merge review request.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contactComments</name>
            <dataType>String</dataType>
            <fieldText>Provide any guidance you have for the request reviewer.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(202, 19, 19);&quot;&gt;Your comments may not exceed 255 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!contactComments},&quot;^$|^[\\s\\S]{1,255}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>contactNoMergeWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 4, 4);&quot;&gt;Warning!  You have not confirmed creation of the merge review request with the listed contacts.  If you click Finish now, a merge review request will &lt;/span&gt;&lt;b style=&quot;color: rgb(231, 4, 4);&quot;&gt;&lt;u&gt;not&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;color: rgb(231, 4, 4);&quot;&gt; be created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>contactConfirmMerge</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_acctNotSupported</name>
        <label>Error</label>
        <locationX>1722</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorDescription_acctNotSupported</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 11, 11);&quot;&gt;This functionality does not yet support merging Account records.  Only contacts are currently supported.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_formatDateException</name>
        <label>Error</label>
        <locationX>666</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorDescription_formatDateException</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 11, 11);&quot;&gt;Please contact your Salesforce administrator with the following error: &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 11, 11);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 11, 11);&quot;&gt;The Request Merge list view button on the {!sObjectType} tab generated error message &quot;{!errorFormatDate}&quot;.  Ref: flow Request Duplicate Review&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_invalidObjectType</name>
        <label>Error</label>
        <locationX>1986</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorDescription_invalidObjectType</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 11, 11);&quot;&gt;This functionality does not support merging records of this object type.  Only contacts, leads, and accounts can be merged.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_leadNotSupported</name>
        <label>Error</label>
        <locationX>1458</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorDescription_leadNotSupported</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 11, 11);&quot;&gt;This functionality does not yet support merging duplicate lead records.  Currently only contacts are supported.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_missingDuplicateRule</name>
        <label>Error</label>
        <locationX>930</locationX>
        <locationY>1910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorDescription_missingDupRule</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 11, 11);&quot;&gt;Please contact your Salesforce administrator with the following error: &lt;/b&gt;&lt;span style=&quot;color: rgb(244, 11, 11);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 11, 11);&quot;&gt;No duplicate rules exist for this object.  In order to use the Request Merge list view button on the {!sObjectType} tab, a duplicate rule must be created (activation not required).  Ref: flow Request Duplicate Review&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_tooFewRecords</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDescription_tooFewRecords</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(218, 12, 12);&quot;&gt;You must select at least two records to create a merge review request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>402</locationX>
        <locationY>2726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Your Merge Review Request has been &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(69, 189, 8);&quot;&gt;successfully&lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; created!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;You may review it here: &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(26, 120, 221);&quot;&gt;{!dupRecSetURL}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/003/o&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&lt;b&gt;Click to Return to {!sObjectType} Tab&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_Ids_by_Comma</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>countFilteredIdsList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countIdsList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countRecordsToMerge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Ids_by_Comma</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dupeRecItemForCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>dupRecItemToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>dupRuleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorFormatDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorOccuredFormatDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formattedCurrentDateTimeString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Captures the Ids passed in for merging</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
