force-app/main/default/flows/Send_Suggested_Leads_Contacts_to_Campaign_v3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>checkIfContactAlreadySuggested</name>
        <label>checkIfContactAlreadySuggested</label>
        <locationX>886</locationX>
        <locationY>2606</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>contactAlreadySuggested</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>getConfParticipants</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>ContactId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>addContactsToCMList.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getContactsFromIds</name>
        <label>getContactsFromIds</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <actionName>GetRecordsFromIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>setRecordListCounts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldNames</name>
            <value>
                <stringValue>Id, Name, Title, Account.Name, LFPID__c, Correspondence_Address__c, Total_Attended_Conferences_Only__c, Total_Attended_CoSpon_Only__c, Future_Conferences__c, Most_Recent_Attended_Date__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputIds</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varContactList</assignToReference>
            <name>records</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>openCampaignDetail</name>
        <label>openCampaignDetail</label>
        <locationX>314</locationX>
        <locationY>4310</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>campaignURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>openContactHome</name>
        <label>openContactHome</label>
        <locationX>842</locationX>
        <locationY>4310</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>/lightning/o/Contact/Home</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>openPersonSearch</name>
        <label>openPersonSearch</label>
        <locationX>50</locationX>
        <locationY>4310</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>/lightning/n/Conferee_Search</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>postAddlNotetoChatter_Contact</name>
        <label>postAddlNotetoChatter_Contact</label>
        <locationX>534</locationX>
        <locationY>3086</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>incrementCMUpdateCount_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>additionalSuggestionContent_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getConferenceDetails.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Return_to_Contact_Record_Detail</name>
        <label>openContactDetails</label>
        <locationX>578</locationX>
        <locationY>4310</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>contactURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Split_LWC_Ids_into_List</name>
        <label>Split LWC Ids into List</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <actionName>InvocableSplitIdsIntoListFromString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getContactsFromIds</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listWithIdAsString</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ids</assignToReference>
            <name>listIds</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>addCMtoListCM_Contact</name>
        <label>addCMtoListCM_Contact</label>
        <locationX>974</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>varCampaignMemberList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempCampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addContactsToCMList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addIdToIdsList</name>
        <label>addIdToIdsList</label>
        <locationX>1161</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>leadsOrContactsProvided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incrementCMUpdateCount_Contact</name>
        <label>incrementCMUpdateCount_Contact</label>
        <locationX>534</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>countCMUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addContactsToCMList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCMFields_Contact</name>
        <label>setCMFields_Contact</label>
        <locationX>974</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>varTempCampaignMember.Suggested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suggested_By_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempCampaignMember.Suggested_By_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suggested_By_Type_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempCampaignMember.Suggested_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suggestion_Notes_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempCampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addContactsToCMList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getConferenceDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Suggested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempCampaignMember.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCMtoListCM_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCMListCount</name>
        <label>setCMListCount</label>
        <locationX>446</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>countInsertCMList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varCampaignMemberList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hasCMToInsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setIdListCounts</name>
        <label>setIdListCounts</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>countFilteredIdsList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Ids_by_Comma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countIdsList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mustSplitIdStringIntoList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecordListCounts</name>
        <label>setRecordListCounts</label>
        <locationX>446</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>countContactList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varContactList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSuggestedCMStatus</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Board_Member</name>
        <choiceText>Board Member</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Board Member</stringValue>
        </value>
    </choices>
    <choices>
        <name>External</name>
        <choiceText>External</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>External</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal</name>
        <choiceText>Internal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Ids_by_Comma</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Ids by Comma</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Ids_by_Comma</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Ids_by_Comma</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>,</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setIdListCounts</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>addContactToCMInsertList</name>
        <label>addContactToCMInsertList?</label>
        <locationX>1106</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>addContactsToCMList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_DoNotAddContact</defaultConnectorLabel>
        <rules>
            <name>Yes_AddContactAsCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove_from_Suggested_Conferee_list_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCMFields_Contact</targetReference>
            </connector>
            <label>Yes_AddContactAsCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>addForUpdate_Contact</name>
        <label>addForUpdate_Contact?</label>
        <locationX>666</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>addContactsToCMList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_DoNotUpdateContact</defaultConnectorLabel>
        <rules>
            <name>Yes_UpdateContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_note_to_Suggested_Conferee_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>postAddlNotetoChatter_Contact</targetReference>
            </connector>
            <label>Yes_UpdateContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>contactAlreadySuggested</name>
        <label>contactAlreadySuggested</label>
        <locationX>886</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>showContact_InsertCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_createContact</defaultConnectorLabel>
        <rules>
            <name>Yes_ContactExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkIfContactAlreadySuggested.singleOutputMember.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showContact_UpdateCM</targetReference>
            </connector>
            <label>Yes_ContactExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasCMToInsert</name>
        <label>hasCMToInsert?</label>
        <locationX>446</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>closeFlowScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_SkipCMInsert</defaultConnectorLabel>
        <rules>
            <name>Yes_InsertCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countInsertCMList</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>commitCampaignMemberListToDatabase</targetReference>
            </connector>
            <label>Yes_InsertCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>isIdNull</name>
        <label>isIdNull?</label>
        <locationX>1073</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>addIdToIdsList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>leadsOrContactsProvided</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isValidConference</name>
        <label>isValidConference</label>
        <locationX>776</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Invalid_Conference_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_isNotValid</defaultConnectorLabel>
        <rules>
            <name>Yes_isValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getConferenceDetails.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Conference</targetReference>
            </connector>
            <label>Yes_isValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>leadsOrContactsProvided</name>
        <label>ContactsProvided?</label>
        <locationX>1073</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>No_Leads_or_Contacts_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not_RecordsNotProvided</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordsProvided</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Destination_Conference_for_Suggestions</targetReference>
            </connector>
            <label>Yes_RecordsProvided</label>
        </rules>
    </decisions>
    <decisions>
        <name>mustSplitIdStringIntoList</name>
        <label>mustSplitIdStringIntoList?</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>getContactsFromIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countIdsList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countFilteredIdsList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_LWC_Ids_into_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>wasSuggestedStatusFound</name>
        <label>wasSuggestedStatusFound?</label>
        <locationX>446</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>addContactsToCMList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Exists</defaultConnectorLabel>
        <rules>
            <name>Create_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cmStatusId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createSuggestedCMStatus</targetReference>
            </connector>
            <label>Create Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichCloseActions</name>
        <label>whichCloseActions?</label>
        <locationX>446</locationX>
        <locationY>4190</locationY>
        <defaultConnector>
            <targetReference>openContactHome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Close_Home</defaultConnectorLabel>
        <rules>
            <name>Close_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>endFlowButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>listViewSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>openPersonSearch</targetReference>
            </connector>
            <label>Close_Contact</label>
        </rules>
        <rules>
            <name>Close_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>endFlowButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>View Conference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>openCampaignDetail</targetReference>
            </connector>
            <label>Close_Campaign</label>
        </rules>
        <rules>
            <name>Close_RecordDetail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_to_Contact_Record_Detail</targetReference>
            </connector>
            <label>Close_RecordDetail</label>
        </rules>
    </decisions>
    <description>Allows users to easily add contacts and leads to a selected conference.  Currently campaign members with the Status &quot;Suggested&quot; will be pulled every few minutes and pushed into the legacy database.</description>
    <environments>Default</environments>
    <formulas>
        <name>campaignURL</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/r/Campaign/&quot; &amp; {!getConferenceDetails.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>contactURL</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/r/Contact/&quot; &amp; {!recordId.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>countCoreAttendance_Contact</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!addContactsToCMList.Total_Attended_Conferences_Only__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>countCoSpoAttendance_Contact</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!addContactsToCMList.Total_Attended_CoSpon_Only__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>countFutureAttendance_Contact</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!addContactsToCMList.Future_Conferences__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>dateMostRecentConf_Contact</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!addContactsToCMList.Most_Recent_Attended_Date__c}), 
&quot;Has not recently attended a conference&quot;, 
&quot;Most recently attended a conference on &quot; &amp; TEXT({!addContactsToCMList.Most_Recent_Attended_Date__c})
)</expression>
    </formulas>
    <formulas>
        <name>lengthSuggestionNotes_Contact</name>
        <dataType>Number</dataType>
        <expression>LEN({!Suggestion_Notes_Contact})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>namePriorSuggester_Contact</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!checkIfContactAlreadySuggested.singleOutputMember.Suggested_By__c}), &quot;&quot;, &quot; by &quot; &amp; {!checkIfContactAlreadySuggested.singleOutputMember.Suggested_By__c} &amp; &quot; on &quot; &amp; TEXT({!checkIfContactAlreadySuggested.singleOutputMember.CreatedDate}))</expression>
    </formulas>
    <interviewLabel>Send Suggested Leads &amp; Contacts to Campaign v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Suggested Leads &amp; Contacts to Campaign v3</label>
    <loops>
        <name>addContactsToCMList</name>
        <label>addContactsToCMList</label>
        <locationX>446</locationX>
        <locationY>2486</locationY>
        <collectionReference>varContactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkIfContactAlreadySuggested</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setCMListCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>commitCampaignMemberListToDatabase</name>
        <label>commitCampaignMemberListToDatabase</label>
        <locationX>314</locationX>
        <locationY>3854</locationY>
        <connector>
            <targetReference>closeFlowScreen</targetReference>
        </connector>
        <inputReference>varCampaignMemberList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createSuggestedCMStatus</name>
        <label>createSuggestedCMStatus</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <assignRecordIdToReference>cmStatusId</assignRecordIdToReference>
        <connector>
            <targetReference>addContactsToCMList</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>getConferenceDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Suggested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordCreates>
    <recordLookups>
        <name>getConferenceDetails</name>
        <label>getConferenceDetails</label>
        <locationX>776</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isValidConference</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (2 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lookupConference.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getConfParticipants</name>
        <label>getConfParticipants</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Ids_by_Comma</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getConferenceDetails.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSuggestedCMStatus</name>
        <label>getSuggestedCMStatus</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>wasSuggestedStatusFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getConferenceDetails.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Suggested</stringValue>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
        <outputAssignments>
            <assignToReference>cmStatusId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>closeFlowScreen</name>
        <label>closeFlowScreen</label>
        <locationX>446</locationX>
        <locationY>4070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>whichCloseActions</targetReference>
        </connector>
        <fields>
            <name>closeFlowScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>closeFlowScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>closeFlowScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>confirmCMInsertSuccess</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have &lt;b&gt;successfully added {!countInsertCMList} Suggested Conferees&lt;/b&gt; to {!getConferenceDetails.Program_Number_Name__c}.  It may take up to 5 minutes for the data to appear in the Core Conference database.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countInsertCMList</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>confirmChatterPostSuccess</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You successfully added additional suggestion &lt;b&gt;notes in Salesforce for {!countCMUpdates} existing&lt;/b&gt; Suggested Conferees.  You can view those immediately from the Conference participation list.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countCMUpdates</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>closeFlowInstructions</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click below to close this page or view Conference details and participants.&lt;/i&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>closeFlowScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>endFlowButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;View Conference&quot;,&quot;value&quot;:&quot;View Conference&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:event&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Close&quot;,&quot;value&quot;:&quot;Close&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Conference</name>
        <label>Confirm Conference</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getConfParticipants</targetReference>
        </connector>
        <fields>
            <name>Confirm_Conference_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Conference_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Conference_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaySelectedConfDetails</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please confirm that you would like to send Suggested Conferees to the Core Conference database for the following conference:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!getConferenceDetails.Program_Number_Name__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!getConferenceDetails.Site_City_State_Country__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!getConferenceDetails.StartDate} - {!getConferenceDetails.EndDate}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!getConferenceDetails.Fellow_Co_Spon__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i&gt;Once you confirm, you will be able to add notes for each suggested conferee.&lt;/i&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Conference_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Conference_Selection</name>
        <label>Invalid Conference Selection</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Conference_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Invalid_Conference_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Invalid_Conference_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>invalidConfMsg</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Participants may &lt;b&gt;not&lt;/b&gt; be suggested for the selected conference.  Either the conference is not identified as a Core Conference in Salesforce, or the start date has passed.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Click &lt;b&gt;Previous&lt;/b&gt; to select a different campaign or Cancel to return to your participant list.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Invalid_Conference_Selection_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Leads_or_Contacts_Selected</name>
        <label>No Contacts Selected</label>
        <locationX>1370</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Leads_or_Contacts_Selected_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Leads_or_Contacts_Selected_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Leads_or_Contacts_Selected_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>missingRecordsMsg_listViewButton</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You must select at least one contact before adding conferee suggestions.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Click &lt;strong&gt;Cancel &lt;/strong&gt;to return to the previous page.  Make sure to check the boxes to the left of each individual you want to suggest before clicking the Suggest Conferees button.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>listViewSource</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>lead</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>listViewSource</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>contact</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>missingRecordsMsg_TopicSearch</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No contacts were found tagged with the selected topic.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Click &lt;strong&gt;Previous &lt;/strong&gt;to return to select a different topic/tag or &lt;strong&gt;Cancel &lt;/strong&gt;to return to the previous page.  Ensure that you have added your topic/tag in the Chatter Topics section of your desired leads and contacts before continuing.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>listViewSource</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Leads_or_Contacts_Selected_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Destination_Conference_for_Suggestions</name>
        <label>Select Destination Conference for Suggestions</label>
        <locationX>776</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getConferenceDetails</targetReference>
        </connector>
        <fields>
            <name>Select_Destination_Conference_for_Suggestions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Destination_Conference_for_Suggestions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Destination_Conference_for_Suggestions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lookupConference</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CampaignId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select a conference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CampaignMember</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Destination_Conference_for_Suggestions_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showContact_InsertCM</name>
        <label>showContact_InsertCM</label>
        <locationX>1106</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>addContactToCMInsertList</targetReference>
        </connector>
        <fields>
            <name>showContact_InsertCM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>showContact_InsertCM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>showContact_InsertCM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>contactDetails_Insert</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!addContactsToCMList.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!addContactsToCMList.Account.Name}&lt;/p&gt;&lt;p&gt;{!addContactsToCMList.Title}&lt;/p&gt;&lt;p&gt;LFPID {!addContactsToCMList.LFPID__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;Current Address&lt;/em&gt;&lt;/p&gt;&lt;p&gt;{!addContactsToCMList.Correspondence_Address__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;Conference Attendence&lt;/em&gt;&lt;/p&gt;&lt;p&gt;Has attended {!countCoreAttendance_Contact} Core conferences&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Has attended {!countCoSpoAttendance_Contact} Co-Spo conferences&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Is scheduled to attend {!countFutureAttendance_Contact} upcoming (Core &amp;amp; Co-Spo) conferences&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!dateMostRecentConf_Contact}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Remove_from_Suggested_Conferee_list_Contact</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Remove from Suggested Conferee list</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If you check this box, this contact &lt;b&gt;will not be added&lt;/b&gt; as a suggested conferee for {!getConferenceDetails.Program_Number_Name__c} in the Core Conference database.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Suggested_By_Type_Contact</name>
                    <choiceReferences>Board_Member</choiceReferences>
                    <choiceReferences>Internal</choiceReferences>
                    <choiceReferences>External</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Internal</defaultSelectedChoiceReference>
                    <fieldText>Suggested By Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Remove_from_Suggested_Conferee_list_Contact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Suggested_By_Contact</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
                    </defaultValue>
                    <fieldText>Suggested By</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Remove_from_Suggested_Conferee_list_Contact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Suggestion_Notes_Contact</name>
                    <dataType>String</dataType>
                    <fieldText>Suggestion Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please limit your notes to &lt;b&gt;255 characters&lt;/b&gt;, including spaces.  You are currently using {!lengthSuggestionNotes_Contact} characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Suggestion_Notes_Contact},&quot;^.{0,255}$&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Remove_from_Suggested_Conferee_list_Contact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>showContact_InsertCM_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showContact_UpdateCM</name>
        <label>showContact_UpdateCM</label>
        <locationX>666</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>addForUpdate_Contact</targetReference>
        </connector>
        <fields>
            <name>showContact_UpdateCM_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>showContact_UpdateCM_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>showContact_UpdateCM_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>contactDetails_Update</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!addContactsToCMList.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!addContactsToCMList.Account.Name}&lt;/p&gt;&lt;p&gt;{!addContactsToCMList.Title}&lt;/p&gt;&lt;p&gt;LFPID {!addContactsToCMList.LFPID__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;Current Address&lt;/em&gt;&lt;/p&gt;&lt;p&gt;{!addContactsToCMList.Correspondence_Address__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;Conference Attendence&lt;/em&gt;&lt;/p&gt;&lt;p&gt;Has attended {!countCoreAttendance_Contact} Core conferences&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Has attended {!countCoSpoAttendance_Contact} Co-Spo conferences&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Is scheduled to attend {!countFutureAttendance_Contact} upcoming (Core &amp;amp; Co-Spo) conferences&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!dateMostRecentConf_Contact}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 94, 13);&quot;&gt;This contact has already been suggested for this conference{!namePriorSuggester_Contact}.  Would you like to add a note to the existing suggestion?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Add_note_to_Suggested_Conferee_Contact</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Add note to Suggested Conferee?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Additional_Suggestion_Note_Contact</name>
                    <dataType>String</dataType>
                    <fieldText>Additional Suggestion Note</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Add_note_to_Suggested_Conferee_Contact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>showContact_UpdateCM_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isIdNull</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>additionalSuggestionContent_Contact</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!addContactsToCMList.Name} is also recommended by {!$User.FirstName} {!$User.FirstName} on {!$Flow.CurrentDate} with the following note: {!Additional_Suggestion_Note_Contact}</text>
    </textTemplates>
    <variables>
        <name>cmStatusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countCMUpdates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countCMUpdates_delete</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countContactList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countFilteredIdsList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countIdsList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countInsertCMList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Ids_by_Comma</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used when records are passed into the flow from a Visualforce/list view button on lead or contact</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to indicate whether the flow is called from a lead list view or a contact list view</description>
        <name>listViewSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varCampaignMemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varTempCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
