force-app/main/default/flows/Send_MyList_to_the_Conference_Database.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Perform_Callout</name>
        <label>Perform Callout</label>
        <locationX>1052</locationX>
        <locationY>310</locationY>
        <actionName>MyListService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Acknowledge_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>myListId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>tCalloutStatus</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Conferee_Count</name>
        <label>Conferee Count</label>
        <locationX>440</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>nConfereeCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MyList_Conferees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_or_more_conferees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MyList_found</name>
        <label>MyList found?</label>
        <locationX>169</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>ConfigErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyList_Conferees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_or_more_conferees</name>
        <label>One or more conferees?</label>
        <locationX>556</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>EmptyListErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nConfereeCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Values_Updated</name>
        <label>Values Updated?</label>
        <locationX>826</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>Perform_Callout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MyList.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>MyList_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MyList.Campaign__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>tProgramId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MyList_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Screen flow that calls Invocable Method to send current MyList to the Conference Database. This flow should be invoked through a Lightning Action on the MyList record page.</description>
    <interviewLabel>Send MyList to the Conference Database {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send MyList to the Conference Database</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>MyList</name>
        <label>MyList</label>
        <locationX>176</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MyList_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MyList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MyList_Conferees</name>
        <label>MyList Conferees</label>
        <locationX>309</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conferee_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MyList__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MyList_Conferee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MyList_update</name>
        <label>MyList</label>
        <locationX>949</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>Perform_Callout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>tProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MyList_Name</elementReference>
            </value>
        </inputAssignments>
        <object>MyList__c</object>
    </recordUpdates>
    <screens>
        <name>Acknowledge_Screen</name>
        <label>Acknowledge Screen</label>
        <locationX>1190</locationX>
        <locationY>310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfDBSuccess</name>
            <fieldText>&lt;p&gt;Your MyList was sent successfully to the Conference Database System.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>tCalloutStatus</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>ok</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConfDBError</name>
            <fieldText>&lt;p&gt;An error was encountered when attempting to send your MyList to the Conference Database system.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please notify a system administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Code:&lt;/p&gt;&lt;p&gt;{!tCalloutStatus}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>tCalloutStatus</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>error</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfigErrorScreen</name>
        <label>ConfigErrorScreen</label>
        <locationX>177</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfigErrorField</name>
            <fieldText>&lt;p&gt;There is a configuration error in the Add to MyList flow. Please provide the following to a system administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;recordId: {!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>703</locationX>
        <locationY>308</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Values_Updated</targetReference>
        </connector>
        <fields>
            <name>MyList_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MyList.Name</elementReference>
            </defaultValue>
            <fieldText>MyList Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Program</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Campaign__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Conference</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>MyList__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>MyList.Campaign__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>tProgramId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Confirmation_Field</name>
            <fieldText>&lt;p&gt;There are {!nConfereeCount} conferees assigned to this list.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next &lt;/b&gt;to send this list to the Conference database.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmptyListErrorScreen</name>
        <label>EmptyListErrorScreen</label>
        <locationX>563</locationX>
        <locationY>534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmptyListErrorField</name>
            <fieldText>&lt;p&gt;Unable to send this list -- there are no conferees assigned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>MyList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>nConfereeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Suggestion List record ID passed from the record detail page</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tApexDisposition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tCalloutStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
