force-app/main/default/flows/TMap_Data_Handling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_First_Name</name>
        <label>Add to First Name</label>
        <locationX>280</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>tFirstName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fCharsToSpace</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Last_Name</name>
        <label>Assign to Last Name</label>
        <locationX>362</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>tLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Name_String</name>
        <label>Initialize Name String</label>
        <locationX>175</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>tName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Candidate_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_contains_comma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Contact_Lookup</name>
        <label>Populate Contact Lookup</label>
        <locationX>678</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_w_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_TMap_rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lead_Lookup</name>
        <label>Populate Lead Lookup</label>
        <locationX>961</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_w_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_TMap_rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_New_Lead</name>
        <label>Populate New Lead</label>
        <locationX>1135</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>idLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_TMap_rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Text</name>
        <label>Remove Text</label>
        <locationX>411</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>tName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRemainingString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_a_space</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Title</name>
        <label>Set Title</label>
        <locationX>80</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>tTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fExtract40AfterComma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCharsBeforeComma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_a_space</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_found</name>
        <label>Contact found?</label>
        <locationX>669</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Lead_w_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_w_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Contact_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_a_space</name>
        <label>Contains a space?</label>
        <locationX>264</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fNextSpace</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_First_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email</name>
        <label>Email?</label>
        <locationX>521</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>Contact_w_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Candidate_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Lead</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_found</name>
        <label>Lead found?</label>
        <locationX>953</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>New_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_w_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Lead_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Use a comma to determine if titles are present (i.e. John Smith, PHD)</description>
        <name>Name_contains_comma</name>
        <label>Name contains comma?</label>
        <locationX>168</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>Contains_a_space</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCommaPosition</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Title</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>assigns incoming TMap data to existing contacts, leads or creates new lead</description>
    <formulas>
        <name>fCharsBeforeComma</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Candidate_Name__c}, {!fCommaPosition}-1)</expression>
    </formulas>
    <formulas>
        <name>fCharsToSpace</name>
        <dataType>String</dataType>
        <expression>LEFT({!tName}, {!fNextSpace})</expression>
    </formulas>
    <formulas>
        <name>fCommaPosition</name>
        <dataType>Number</dataType>
        <expression>FIND(&apos;,&apos;, {!$Record.Candidate_Name__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fCompanyNameAssignment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Company_Organization__c}), &apos;None&apos;, {!$Record.Company_Organization__c})</expression>
    </formulas>
    <formulas>
        <name>fExtract40AfterComma</name>
        <dataType>String</dataType>
        <expression>TRIM(MID({!$Record.Candidate_Name__c}, {!fCommaPosition}+1, 40))</expression>
    </formulas>
    <formulas>
        <name>fNextSpace</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot; &quot;, {!tName})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fRemainingString</name>
        <dataType>String</dataType>
        <expression>MID({!tName}, {!fNextSpace} + 1, 255)</expression>
    </formulas>
    <formulas>
        <name>fTruncFirstname</name>
        <dataType>String</dataType>
        <expression>LEFT({!tFirstName},40)</expression>
    </formulas>
    <formulas>
        <name>fTruncLastName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!tLastName}),&apos;None&apos;, LEFT({!tLastName}, 40))</expression>
    </formulas>
    <interviewLabel>TMap Data Handling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TMap Data Handling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Lead</name>
        <label>New Lead</label>
        <locationX>1129</locationX>
        <locationY>302</locationY>
        <assignRecordIdToReference>idLead</assignRecordIdToReference>
        <connector>
            <targetReference>Populate_New_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>fCompanyNameAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Candidate_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>fTruncFirstname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>fTruncLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>tTMAPRecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>tTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_w_Email</name>
        <label>Contact w/ Email</label>
        <locationX>529</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead_w_Email</name>
        <label>Lead w/ Email</label>
        <locationX>827</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TMAP_record_type</name>
        <label>TMAP record type</label>
        <locationX>176</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Name_String</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TMAP</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>tTMAPRecType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Updated_TMap_rec</name>
        <label>Updated TMap rec</label>
        <locationX>827</locationX>
        <locationY>559</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>TMAP_record_type</targetReference>
        </connector>
        <object>TMap_Data__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>idLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTMap</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tTMAPRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
