force-app/main/default/flows/View_TMap_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>View TMap Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>View TMap Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>lookupTMapData</name>
        <label>lookupTMapData</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_TMap_Data</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TMap_Data__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Related_TMap_Data</name>
        <label>Related TMap Data</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Related_TMap_Data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_TMap_Data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PersonalInfo</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Personal Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!lookupTMapData.Candidate_Name__c}&lt;/p&gt;&lt;p&gt;Email: {!lookupTMapData.Candidate_Email__c}&lt;/p&gt;&lt;p&gt;Current Location: {!lookupTMapData.Current_Location__c}&lt;/p&gt;&lt;p&gt;Current Organization: {!lookupTMapData.Current_Organization__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ProfessionalInfo</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Professional Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Title: {!lookupTMapData.Title__c}&lt;/p&gt;&lt;p&gt;Company/Organization: {!lookupTMapData.Company_Organization__c}&lt;/p&gt;&lt;p&gt;Current Industry: {!lookupTMapData.Current_Industry__c}&lt;/p&gt;&lt;p&gt;Years Experience: {!lookupTMapData.Years_of_Experience__c}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://libertyfund--lfisandbox.lightning.force.com/builder_platform_interaction/%7B!lookupTMapData.LinkedIn_URL__c%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;View in LinkedIn&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EducationInfo</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Educational Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Field of Study: {!lookupTMapData.Field_of_Study__c}&lt;/p&gt;&lt;p&gt;Highest Degree Earned: {!lookupTMapData.Highest_Degree_Earned__c}&lt;/p&gt;&lt;p&gt;College/University: {!lookupTMapData.College_University__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Historical Field of Study: {!lookupTMapData.Historical_Field_of_Study__c}&lt;/p&gt;&lt;p&gt;Historical Degree: {!lookupTMapData.Historical_Degree__c}&lt;/p&gt;&lt;p&gt;Historical College/University: {!lookupTMapData.Historical_College_University__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>lookupTMapData</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
